@model MyPlanner.Models.MyTask

@{
    ViewData["Title"] = "Create";
}
<style>
     .btnstyle{  background-color: #ff9966; 
                border-color: #ff9966;
    }
    .btnstyle:hover{ background-color: coral;
                     border-color:antiquewhite;
                     color: antiquewhite;
    }
    body {
        background: #1d9172;
        color: antiquewhite;
    }
</style>
<body>
    <h1>Create</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Due_Date" class="control-label">Due Date</label>
                    <input asp-for="Due_Date" class="form-control" />
                    <span asp-validation-for="Due_Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Owner" class="control-label"></label>
                    <input asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Urgency" class="control-label"></label>
                    <select asp-for="Urgency" asp-items="Html.GetEnumSelectList<MyTask.HowUrgentType>()" class="form-control"></select>
                    <span asp-validation-for="Urgency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transfer" class="control-label"></label>
                    <select asp-for="Transfer" asp-items="Html.GetEnumSelectList<MyTask.FakeBoolType>()" class="form-control"></select>
                    <span asp-validation-for="Transfer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label">Duration in hours</label>
                    <input asp-for="Duration" class="form-control" min="1"/>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Physical_Effort" class="control-label">Physical Effort</label>
                    <select asp-for="Physical_Effort" asp-items="Html.GetEnumSelectList<MyTask.FakeBoolType>()" class="form-control"></select>
                    <span asp-validation-for="Physical_Effort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tag" class="control-label"></label>
                    <select asp-for="Tag" asp-items="Html.GetEnumSelectList<MyTask.TagType>()" class="form-control"></select>
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btnstyle" />
                </div>
            </form>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <div>
        <a asp-action="Index"><font color="white">Back to List</font></a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>