@{
    ViewData["Title"] = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Londrina Shadow' rel='stylesheet'>

<style>
    div.a {
        position:absolute;
        top: 170px;
        left: 100px;
        font-family: 'Londrina Shadow';
        color: antiquewhite;        
        font-size: 80px;
        line-height:100%;
    }
    div.b{
        position:absolute;
        right:100px;
        top:70px;        
    }

</style>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="a">Say hello to <br> your everyday <br> everything app</div>
    <div class="b"><img src="~/Content/Images/home344x459.jpg"></div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>