@model MyPlanner.Models.User

@{
    ViewData["Title"] = "Log in";
}
<style>
    .btnstyle {
        background-color: #ff9966;
        border-color: #ff9966;
    }

    .btnstyle:hover {
        background-color: coral;
        border-color: antiquewhite;
        color: antiquewhite;
    }
</style>
<body style="background:#1d9172">
    <h1><font color="white">Login</font></h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="username" class="control-label"><font color="white">Username </font></label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="encrypted_password" class="control-label"><font color="white">Password</font></label>
                    <input asp-for="encrypted_password" class="form-control" type="password" />
                    <span asp-validation-for="encrypted_password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn btn-primary btnstyle" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index"><font color="white">Back to List</font></a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>